

.cr-indent {
    padding-left: 12px;
    border-left: 1px solid #eee;
}

/* object */


[cr-tab-object] .tab-content {
    overflow: visible;
    margin-top: 12px;
}

[cr-tab-object] .active > a{
    font-weight: bold;
}

[cr-object] .form-inline .form-group {
    margin-top: 10px;
    margin-right: 10px;
}
[cr-object] .form-inline input {
    width: auto;
}

[cr-object] label.has-error {
    color: #a94442;
}

[cr-column-object] .cr-seperate {
    border-right: 1px solid #ddd;
}
[cr-column-object] .cr-seperate:last-child {
    border: 0;
}

[cr-any-of] .item {
    margin-top: 5px;
}

[cr-slug] input[type=text] {
    text-transform: lowercase;
}

[cr-ref-preview],
[cr-image-preview] {
    margin-bottom: 5px;
}

[cr-image] .thumbnail,
[cr-image-preview] .thumbnail {
    margin-bottom: 0;
}

[cr-model-list-filter] select {
    width: auto;
}

[cr-datetime] .input-group {
    margin-bottom: 15px
}

.cr-tag-matches {
    position: relative;
}
[cr-tags] .label {
    cursor: pointer;
    font-size: 1em;
    line-height: 2.3em;
}
[cr-tags] .list-inline li {
    padding-left: 0;
}

.form-inline [cr-ref] {
    display: inline-block;
}

 /* array */

.cr-item-wrapper {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    margin: 4px 0;
}

.cr-item-wrapper .cr-item-label {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 5px 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #46a546;
    border-radius: 4px 0 4px 0;
    display: none;
}
.cr-item-wrapper.has-label {
    padding-top: 42px;
}
.cr-item-wrapper.has-label .cr-item-label {
    display: block;
}

.cr-item-controls {
    position: absolute;
    top: 0;
    right: 0;
}
.cr-item-controls .btn-group {
    margin-right: 8px;
}


[cr-array-controls] {
    margin: 4px 0;
}
[cr-array] [cr-array-controls]:first-child {
    margin-top: 0;
}

.cr-editor.cr-border, cr-debug {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
.cr-editor.cr-border {
    padding: 8px;
}
.cr-editor .btn-group {
    margin-top: 8px;
}
.cr-editor-area {
    display: block;
    width: 100%;

    box-shadow: none;
    border-style: none;
    border-color: Transparent;
    overflow: auto;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.cr-editor-preview {
    display: none;
}

.cr-debug {
    padding: 0 10px 10px;
}

.cr-ref-controls {
    margin-top: 6px;
}

.cr-model-controls {
    margin: 32px 0 16px;
}

.cr-list-buttons {
    width: 1%;
    white-space: nowrap;
}
.cr-list-buttons .btn {
    float: none;
}

/* http://www.abeautifulsite.net/blog/2013/08/whipping-file-inputs-into-shape-with-bootstrap-3/ */
.cr-btn-file {
    position: relative;
    overflow: hidden;
}
.cr-btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}