textarea,
input[type="text"],
input[type="number"] {
    /* width: 100%; */
}

[cr-anyof-item], [cr-array-item] {
    position: relative;
}

[cr-anyof-item] hr, [cr-array-item] hr {
    margin: 10px 0;
}

[cr-image-preview] img {
    max-height: 64px;
    min-width: 64px;
    margin-top: 8px;
}

[cr-image] img {
    float: left;
    display: block;
    background-color: #ddd;
    max-height: 140px;
    min-width: 140px;
    margin-right: 12px;
}

.item-controls {
    position: absolute;
    top: 0;
    right: 0;
}

.item-controls .btn-group {
    margin-right: 8px;
}

.indent {
    padding-left: 12px;
    margin-bottom: 10px;
    border-left: 1px solid #eee;
}



