
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/angular/angular.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")

script(src="/bower_components/moment/moment.js")
script(src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")

script(src="/bower_components/markdown/lib/markdown.js")

script(src="/lib/index.js")
script(src="/templates/templates.js")

script(src="/lib/services/common.js")
script(src="/lib/services/jsonpointer.js")
script(src="/lib/services/build.js")
script(src="/lib/services/resource.js")
script(src="/lib/services/schema.js")
script(src="/lib/services/textarea-autosize.js")
script(src="/lib/services/pagination.js")
script(src="/lib/services/views.js")

script(src="/lib/filters/common.js")

script(src="/lib/directives/control.js")
script(src="/lib/directives/boolean.js")
script(src="/lib/directives/number.js")
script(src="/lib/directives/integer.js")
script(src="/lib/directives/string.js")
script(src="/lib/directives/enum.js")
script(src="/lib/directives/readonly.js")
script(src="/lib/directives/array.js")
script(src="/lib/directives/array-item.js")
script(src="/lib/directives/object.js")
script(src="/lib/directives/tab-object.js")
script(src="/lib/directives/column-object.js")
script(src="/lib/directives/ref.js")
script(src="/lib/directives/single-sel-ref.js")
script(src="/lib/directives/multi-sel-ref.js")
script(src="/lib/directives/image.js")
script(src="/lib/directives/text.js")
script(src="/lib/directives/markdown.js")
script(src="/lib/directives/slug.js")
script(src="/lib/directives/datetime.js")
script(src="/lib/directives/password.js")
script(src="/lib/directives/tags.js")
script(src="/lib/directives/search-box.js")

script(src="/lib/directives/model-resource.js")
script(src="/lib/directives/model-form.js")
script(src="/lib/directives/model-list.js")
