<div>
  <div class="cr-anyof-item-group">
    <div class="cr-item-controls btn-group">
      <button class="btn btn-default btn-xs" ng-click="moveUp()">
        <span class="glyphicon glyphicon-arrow-up"></span>
      </button>
      <button class="btn btn-default btn-xs" ng-click="moveDown()">
        <span class="glyphicon glyphicon-arrow-down"></span>
      </button>
      <button class="btn btn-danger btn-xs" ng-click="remove()">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
    <div class="cr-item-body"></div>
  </div>
  <div class="cr-array-controls cr-item-footer">
    <div class="btn-group">
      <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-plus"></span><span class="caret"/>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="schema in schemas">
          <a ng-click="addItem(schema)">{{schema.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
