<div class="form-group">
  <label class="control-label" ng-show="options.showLabel">{{name}}:</label>

  <div>
    <button class="btn btn-default btn-sm" ng-click="addItem(schema.items)">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <ul class="list-unstyled">
      <li ng-repeat="model in model">
        <div cr-array-item
             schema="schema.items"
             model="model"
             path="{{path}}/{{$index}}"
             options="options.item"></div>
      </li>
    </ul>
  </div>
</div>
