<div class="row" ng-class="{ 'has-error': hasErrors() }">
  <label class="col-md-12 control-label" ng-show="options.showLabel">{{name}}</label>

  <div class="col-md-3">
    <div class="input-group date">
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      <input type="text" class="form-control" data-format="dd.MM.yyyy" />
    </div>
  </div>

  <div class="col-md-3">
    <div class="input-group time">
      <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
      <input type="text" class="form-control" data-format="hh:mm"/>
    </div>
  </div>
</div>
