<div class="form-group" ng-class="{ 'has-error': modelCtrl.$invalid }">
  <label class="control-label" ng-show="options.showLabel">{{ label }}:</label>

  <div class="cr-editor clearfix" ng-class="{ 'cr-border': options.showBorder }">
    <textarea class="form-control cr-editor-area" ng-model="localModel" rows="1"></textarea>
    <div class="cr-editor-preview"></div>
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-sm" ng-click="togglePreview()">
        {{ isPreview ? "Edit" : "Preview" }}
      </button>
    </div>

    <div ng-show="modelCtrl.$invalid">
      <p class="help-block" ng-show="modelCtrl.$error.maxLength">Text is longer than {{ schema.maxLength }}</p>
      <p class="help-block" ng-show="modelCtrl.$error.minLength">Text is shorter than {{ schema.minLength }}</p>
    </div>
  </div>
</div>