<div>
  <div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Confirm deletion</h4>
        </div>
        <div class="modal-body">
          <p>Really delete?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" data-dismiss="modal" type="button">Cancel</button>
          <button class="btn btn-danger" ng-click="destroy()" type="button">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div cr-model-form schema="schema" model="model" valid="valid" debug="debug"></div>

  <div ng-switch on="state">
    <div ng-switch-when="loading" class="alert alert-info">Loading...</div>
    <div ng-switch-when="saving" class="alert alert-info">Saving...</div>
    <div ng-switch-when="error" class="alert alert-danger">
      {{ error.message }}
      <ul>
        <li ng-repeat="e in unhandledErrors">{{ e }}</li>
      </ul>
    </div>
  </div>


  <div class="cr-model-controls">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button ng-click="save()" ng-class="{ disabled: !valid }" class="btn btn-primary" type="button">Save</button>
      </div>

      <button ng-click="toggleDebug()" class="btn btn-default pull-right" type="button">Debug</button>
      <button ng-click="askDestroy()" ng-show="!isNew()" class="btn btn-danger pull-right" type="button">Delete</button>

      <div class="btn-group">
        <button ng-repeat="button in options.buttons"
                ng-click="buttonClick($event, button.event)"
                class="btn btn-default" type="button">
          <span ng-if="button.icon" class="glyphicon glyphicon-{{button.icon}}"></span>
          {{button.title}}
        </button>
      </div>
    </div>
  </div>
</div>
