<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="title in titles" style="text-transform:capitalize;">{{title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows" style="cursor:pointer;" ng-click="select(row.id)">
        <td ng-repeat="item in row.items">{{item.value}}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <ul>
      <li class="{{ !isLoading && prevId  ? '' : 'disabled' }}"><a href="" ng-click="prev()">Prev</a></li>
      <li class="disabled"><a>{{ pageNo }} &#47 {{ totalPages }}</a></li>
      <li class="{{ !isLoading && nextId ? '' : 'disabled' }}"><a href="" ng-click="next()">Next</a></li>
    </ul>
  </div>
</div>