<div class="form-group" ng-class="{ 'has-error': hasErrors() }">
  <label class="control-label" ng-show="options.showLabel">{{name}}:</label>

  <div ng-class="{ 'cr-indent': options.indent }">
    <ul class="list-unstyled">
      <li class="checkbox" ng-repeat="row in rows">
        <label class="control-label">
          <input type="checkbox" ng-model="row.selected"/> {{row.name}}
        </label>
      </li>
    </ul>

    <p ng-show="hasErrors()" class="help-block">{{ getFirstError() }}</p>
  </div>
</div>
