<div>
  <label class="control-label" ng-show="options.showLabel">{{ label }}:</label>
  <input class="form-control" type="number" ng-model="model"/>

  <div ng-show="dirty && !valid">
    <p class="help-block" ng-show="errors.multipleOf">Number should be a multiple of {{ schema.multipleOf }}</p>
    <p class="help-block" ng-show="errors.minimum">Number should be smaller or equal to {{ schema.minimum }}</p>
    <p class="help-block" ng-show="errors.maximum">Number should be greater or equal to {{ schema.maximum }}</p>
    <p class="help-block" ng-show="errors.integer">Number should be an integer</p>
  </div>
</div>
