<div>
  <label class="control-label" ng-show="options.showLabel">{{ label }}:</label>

  <div class="row">
    <div class="col-md-6">
      <input class="form-control" type="password" ng-model="pass1"/>
    </div>
    <div class="col-md-6">
      <input class="form-control" type="password" ng-model="pass2"/>
    </div>
  </div>

  <div ng-show="dirty && !valid">
    <p class="help-block" ng-show="errors.maxLength">Text is longer than {{ schema.maxLength }}</p>
    <p class="help-block" ng-show="errors.minLength">Text is shorter than {{ schema.minLength }}</p>
    <p class="help-block" ng-show="errors.match">Passwords do not match</p>
  </div>
</div>
