<div>
  <label class="control-label" ng-show="options.showLabel">{{ label }}:</label>

  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-show="model.id_" class="cr-preview"></div>

      <div class="cr-ref-controls">
        <div class="btn-group">
          <button ng-click="newModel()" ng-show="!options.selectOnly" class="btn btn-default" type="button">New</button>
          <button ng-click="editModel()" ng-show="hasModel() && !options.selectOnly" class="btn btn-default" type="button">Edit</button>
          <button ng-click="selectModel()" class="btn btn-default" type="button">Select</button>
        </div>
      </div>
    </div>
    <div ng-if="showModel" class="panel-footer">
      <div cr-model-resource type="{{ schema.$ref }}" model-id="modelId" defaults="options.defaults" options="modelOptions"></div>
    </div>
  </div>

  <div cr-model-list-modal
       modal-id="{{selectModalId}}"
       type="{{schema.$ref}}"
       list="options.list"></div>
</div>
