<span class="control-group" ng-class="{ error: hasErrors() }">
  <div class="controls">
    <label>{{name}}:</label>
    <div class="editable" contenteditable="true">text...</div>
    <span ng-switch on="getFirstError()">
      <p ng-switch-when="required" class="help-inline">Required</p>
      <p ng-switch-when="maxLength" class="help-inline">Value is longer than {{schema.maxLength}}</p>
      <p ng-switch-when="minLength" class="help-inline">Value is shorter than {{schema.minLength}}</p>
    </span>
  </div>
</span>