<div>
  <label class="control-label" ng-show="options.showLabel">{{ label }}:</label>
  <div class="input-group">
    <span class="input-group-btn">
      <button ng-click="generate()" class="btn btn-default" type="button">Generate</button>
    </span>
    <input class="form-control" type="text" ng-model="model"/>
  </div>

  <div ng-show="dirty && !valid">
    <p class="help-block" ng-show="errors.maxLength">Slug is longer than {{ schema.maxLength }}</p>
    <p class="help-block" ng-show="errors.minLength">Slug is shorter than {{ schema.minLength }}</p>
    <p class="help-block" ng-show="errors.format">Slug does not match format</p>
  </div>
</div>
