<span class="control-group" ng-class="{ error: hasErrors() }">
  <div class="controls">
    <label>{{name}}:</label>
    <input class="input-xlarge" type="text" ng-model="model"/>
    <span ng-switch on="getFirstError()">
      <p ng-switch-when="required" class="help-inline">Required</p>
      <p ng-switch-when="maxLength" class="help-inline">Value is longer than {{schema.maxLength}}</p>
      <p ng-switch-when="minLength" class="help-inline">Value is shorter than {{schema.minLength}}</p>
      <p ng-switch-when="pattern" class="help-inline">Value does not match the pattern</p>
      <p ng-switch-when="format" class="help-inline">Value is no valid {{schema.format}}</p>
    </span>
  </div>
</span>
