<div>
  <label class="control-label" ng-show="options.showLabel">{{ label }}:</label>

  <div class="row">
    <div class="col-md-6">

      <div class="input-group">
        <input class="form-control" type="text" ng-model="currentTag"/>
        <span class="input-group-btn">
          <button ng-click="createTag()" class="btn btn-default" type="button">Create</button>
        </span>
      </div>
      <div class="cr-tag-matches">
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="match in matches" ng-class="{ active: activeListIndex === $index }">
            <a ng-click="selectMatch(match)">{{ match.doc.name }}</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-md-6">

      <div>
        <ul class="list-inline">
          <li ng-repeat="tag in model" ng-click="removeTag($index)">
            <span class="label label-primary">{{ getTagName(tag.id_) }}  <span class="glyphicon glyphicon-remove"></span> </span>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-show="error" class="alert alert-danger">{{ error.message }}</div>
    </div>
  </div>

</div>